@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: mediumaquamarine;
  transform: rotate(-10deg);
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  max-width: auto;
}

main > div {
  width: 40%;
  margin: auto;
  padding: 10%;
  font-size: 140%;
  font-style: bold;
}


body > div > h1 {
  text-indent: 300px;
  font-size: 300%;
}
